doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{tittle}
        link(rel="stylesheet" href="/css/style.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    body 
        .form-container.login
            h2 Sign in with your details 
            form#frm(method="POST")
                .row#user-id 
                    div.id-error #{msg}
                    input#userName(type="text" required="" placeholder="UserId" autocomplete="off" name="userName")
                    //- label UserId 
                .row.pass 
                    input#password(type="password" required="" placeholder="Password" autocomplete="off" name="pass")
                    i.fa-solid.fa-eye-slash.pass-icon
                    //- label Password 
                .row 
                    button(type="submit") Log in
            p Don't have an account?
                a(href="/register")  SignUp 
        script(src="/js/script.js") 
