doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{tittle}
        link(rel="stylesheet" href="/css/style.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    body 
        .form-container.signup 
            h2 Create a new account 
            form#frm(method="POST")
                .row 
                    input#userName(type="text" required="" name="userId" placeholder="UserId" autocomplete="off")
                    //- label UserId 
                .row.pass 
                    input#password(type="password" required="" name="pass" placeholder="Password" autocomplete="off" )
                    i.fa-solid.fa-eye-slash.pass-icon
                    //- label Password 
                .row.pass 
                    input#confirm(type="password" required="" name="cpass" placeholder="Confirm Password" autocomplete="off")
                    i.fa-solid.fa-eye-slash.pass-icon
                    //- label Confirm Password 
                .row 
                    button(type="submit") Sign up
            p already have an account?
                a(href="/login")  Login 
        script(src="/js/script.js") 